p {
	text-align: center;
	font-size: 40px;
	color:black;
	margin-top:30px;
	font-style:bold;
}



html {
  font-size: 10px;
  background-color: #204F57;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quelle {
  color: white;
  padding-left: 20px;
    padding-right: 20px;

}

.keys {
  display: flex;
  flex: 1;
  min-height: 10rem;
  align-items: center;
  justify-content: center;
}

.key {
  border: 4px solid black;
  border-radius: 5px;
  margin: 15px;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  transition: all .07s;
  width: 150px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 5px black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}